.container {
  @apply px-1 md:px-2;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  @apply text-xs text-gray-500;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.lectureslineaires {
  @apply flex flex-col justify-between p-4 overflow-scroll md:flex-row flex-nowrap;
}
